<div class="post">
   
    <h4><%= user.name %></h4>
    <p>Location: <%= post.location %></p>
    <p>Days on Trip: <%= post.days %></p>
    <p>Budget: <%= post.budget %></p>
    <p>Transport: <%= post.transport %></p>
    <p>Accommodation: <%= post.accommodation %></p>

</div>