<div class="post">
   
    <h4 class= "flare"><%= user.name %></h4>
    <p>Location: <%= post.location %></p>
    <p>Days on Trip: <%= post.days %></p>
    <p>Budget: <%= post.budget %></p>
    <p>Transport: <%= post.transport %></p>
    <p>Accommodation: <%= post.accommodation %></p>

    <% if post.user == current_user %>
        <a href= "/posts/<%= post.id %>/edit">Edit</a>
        <form action="/posts/<%= post.id %>" method= "POST">
            <input type= "hidden" name= "_method" value= "delete">
            <input type= "submit" value= "delete">
        </form>
    <% end %>

</div>